<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Why Apex</title>

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/css/reset.css"/>
    <link rel="stylesheet" href="/css/main.css"/>

    <!-- Remix Icons -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.7.0/fonts/remixicon.css" rel="stylesheet"/>

</head>
<body class="ut-body-wrapper" id="apexMobileBg" style="--body-bg: image-set(
    url('/about/thisisengineering-medium.jpg') 1x,
    url('/about/thisisengineering-large.jpg') 2x    
    );">
    <header class="site-header sticky"> 
        <nav>
            <div class="nav-bar">
                <div class="nav-header">
                    <div class="nav-logo">
                        <span class="cont-1">
                            <img class="apex-logo" src="/assets/no-bg-apex-2-logo.png" alt="Apex logo">
                            <a href="#">Apex | <span>IT Support</span></a>
                        </span>
                    </div>
                    <div class="nav-menu-btn" id="menu-btn">
                        <i class="ri-menu-line"></i>
                    </div>
                </div>
                <ul class="nav-links" id="nav-links">
                    <li><a href="/index">HOME</a></li>  
                    <li><a href="/templates/services">SERVICES</a></li> 
                    <li><a href="/templates/why-apex">WHY APEX</a></li> 
                    <li><a href="/templates/get-in-touch">GET IN TOUCH</a></li> 
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <!-- HERO (Mobile) -->
        <section class="section ut-hero-img" style="--hero-bg: image-set(
            url('/about/thisisengineering-small.jpg') 1x,
            url('/about/thisisengineering-medium.jpg') 2x
        );" id="apexHero">
        <div>
            <div class="hero_section__text">
                <h1 class="section__title anim-fade-up anim-stagger-3">Why Businesses Choose APEX?</h1>
                    <hr class="line-sep anim-fade-up anim-stagger-3"></hr>
                    <p class="section__desc anim-fade-up anim-stagger-3">Local expertise. Rapid support. Reliable technology </p>
            </div>
        </div>
        </section>
        <!-- LOCAL Feature Block -->
         <section class="section section--grey" id="localFeatures">
            <div class="local-grid" id="gridCont">
                <article class="local-images-cont still anim-fade-up anim-stagger-3" alt="Apex Advantages">
                    <!-- Any Image -->
                    <div class="local-images still" alt="Field Engineer">
                        <!-- icon or content -->
                        <div class="local-icon-0">
                            <span class="icon">
                                <i class="ri-stack-fill"></i>
                                <h1>Apex Advantage</h1>
                            </span>
                        </div>
                    </div> 
                </article>
                <aside class="local-text-cont" id="localText">
                    <div class="local-headline">
                        <h1 class="hl">Quality Assurance</h1>
                        <h1 class="hl">Prompt Resolution</h1>
                        <h1 class="hl">Reliable Systems</h1>
                    </div>
                    <div class="local-describe">
                        <p class="describe">Our proximity allows us to respond quickly, resolve issues efficiently, and deliver 
                            hands-on support when it matters most.</p>
                    </div>
                    <div class="local-highlights">
                        <ul class="hi-light-cont">
                            <li class="hi-item" id="hi-items">
                                <span class="hi-text">
                                    <i class="ri-checkbox-circle-fill"></i>
                                    <span>Local teams in Centurion</span>
                                </span>    
                            </li>
                            <li class="hi-item" id="hi-items">
                                <span class="hi-text">
                                    <i class="ri-checkbox-circle-fill"></i>
                                    <span>Immidiate Response</span>
                                </span>
                            </li>
                            <li class="hi-item" id="hi-items">
                                <span class="hi-text">
                                    <i class="ri-checkbox-circle-fill"></i>
                                    <span>Same-day on-site availability</span>
                                </span>    
                            </li>
                            <li class="hi-item" id="hi-items">
                                <span class="hi-text">
                                    <i class="ri-checkbox-circle-fill"></i>
                                    <span>Custom-fit solutions for your operations</span>
                                </span>    
                            </li>
                        </ul> 
                    </div>
                </aside>

            </div>
         </section>
    </main>
    <footer>
        <div class="row">
            <!-- Apex Logo & Text -->
            <div class="col">
                <span class="cont-2">
                    <img class="apex-logo" src="/assets/no-bg-apex-2-logo.png" alt="Apex logo">
                    <a href="#">Apex | <span>IT Support</span></a>
                </span>
                <p>Subscribe to our newsletter and stay updated on new solutions in the IT & network enginnering space. 
                Accept all T's & C's for immidiate notification and let us move your business foward.</p>
            </div>
            <!-- Office Address -->
            <div class="col">
                <h3>Office <div class="underline"><span></span></div></h3> <!-- Underline Animation -->
                <p>Block 12</p>
                <p>Southdowns Office Park</p>
                <p>22 Karee St, Irene</p>
                <p>Centurion, 0062</p>
                <p class="email-id">admin@apexitsupport.org</p>
                <p>+27 12 345 6789</p> 
            </div>
            <!-- About links -->
            <div class="col">
                <!-- Community & Contact pages -->
                <h3>Hub <div class="underline"><span></span></div></h3> <!-- The Hub --> <!-- Underline Animation -->
                <ul>
                    <li><a href="#">Features</a></li>
                    <li><a href="#">Events</a></li>
                    <li><a href="#">Workshops</a></li>
                    <li><a href="#">Resources</a></li>
                    <li><a href="#">Partnership</a></li>
                    <li><a href="#">Get in Touch</a></li> <!-- Contact -->
                </ul>
            </div>
            <!-- Newsletter -->
            <div class="col">
                <h3>Newsletter <div class="underline"><span></span></div></h3> <!-- Underline Animation -->
                <form>
                    <!-- Icon -->
                     <i class="ri ri-mail-line"></i>
                    <!-- Email input -->
                    <input type="email" placeholder="Enter your email">
                    <!-- Submit button -->
                    <button type="submit"><i class="rs ri-arrow-right-circle-line"></i></button> 
                </form>
                <div class="social-icons">
                    <a href="https://x.com/techWith_Prince" target="_blank" rel="noopener noreferrer"><i class="rf ri-twitter-x-line"></i></a>
                    <a href="https://www.tiktok.com/@techwithprince_za" target="_blank" rel="noopener noreferrer"><i class="rf ri-tiktok-line"></i></a>
                    <a href="https://www.linkedin.com/in/liyema-mkebe-1a815b1b6/" target="_blank" rel="noopener noreferrer"><i class="rf ri-linkedin-box-fill"></i></a>
                </div>    
        </div>
        <hr>
        <span class="bottom-credits">
            <p class="bc copyright">Zenco Web Solutions © 2025</p>
            <p class="bc policy">Privacy Policy</p> <!-- Create Mode Templates -->
            <p class="bc terms">Terms & Conditions</p> <!-- Create Mode Templates -->
        </span>    
    </footer>
    <script src="/js/animations.js" defer></script>
    <script src="/js/main.js"></script>
</body>
</html>